/* ----------------------------------------------------
	ADD CUSTOM STYLES HERE...
------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext);

html, body{
    min-height: 100%;
    margin:0;
    padding:0;
}
body {  
  color: #767676;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  padding: 0;
  font-family: 'Open Sans','Roboto', 'sans-serif', 'Helvetica', 'Arial', 'sans-serif'; 
  background: #fff url(../images/bg.png) repeat;
}

body.boxed #wrapper {
  margin: 40px auto;
  max-width: 1280px; }

body.boxed {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body.boxed.pattern1 {
  background: url(../images/pattern1.jpg) repeat center center scroll; }
a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover{
    color: rgb(133, 184, 42)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 1.8;
    color: #222222; 
    font-weight: 300;
}

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 14px; }

a {
  color: #fff; }

p {
  padding: 0 0 20px;
  line-height: 1.8; }

.sitemap li {
  margin-bottom: 0 !important; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important; }

ul,
ol {
  padding: 0 15px; }

ul li,
ol li {
  margin-bottom: 10px; }
.article li{
    margin-bottom: 0;
}

.header ul li {
  margin-bottom: 0; }

.noborder {
  border: 0 !important; }

/*common classes*/
.custom-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.setScrollArticle{
    max-height: 880px;
    overflow-y:auto;
}
.left-align{
    text-align: left;
}
.hide{
    display: none !important;
}
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
.padd-left5p {
  padding-left: 5px; 
}
.marg-t10{ margin-top:10px }
.marg-l-2rem{ margin-left:2rem; }
.marg-t30{
    margin-top:30px;
}
.padd10{
    padding: 10px;
}
.padd15{
    padding:15px;
}
.padd-l-15{ padding-left: 15px; }
.inline{
    display: inline;
}
.inline-block{
    display: inline-block !important;
}

.text-centre{
    text-align: center;
}
.rounded-circle {
    border-radius: 50%;
}
.line-h-20p{
    line-height: 20px;
}

.domain-color{ color: #0082ca; font-weight: 900;}
.left.col-lg-6.start {
    width: 0px;
    background: #aae0aa;
    -webkit-animation: eighty 2s ease-out forwards;
       -moz-animation: eighty 2s ease-out forwards;
        -ms-animation: eighty 2s ease-out forwards;
         -o-animation: eighty 2s ease-out forwards;
            animation: eighty 2s ease-out forwards;
}

.shadow{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); 
}
.animated.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

img.aligncenter {
  display: block;
  text-align: center;
  display: block;
  margin: 0 auto 20px auto;
  padding: 0px;
  border: 0px;
  background: none; }

img.alignleft {
  float: left;
  margin: 6px 20px 6px 0;
  display: inline;
  border: 0px;
  background: none;
  padding: 0;
  display: block; }

img.alignright {
  padding: 0;
  float: right;
  margin: 6px 0 6px 20px;
  border: 0px;
  display: block;
  background: none; }

blockquote {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  margin: 20px 0;
  position: relative;
  width: auto; }

.readmore {
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  margin-top: 10px;
  display: block; }

.lead {
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400; }

blockquote small {
  display: block;
  margin-top: 20px; }

pre {
  line-height: 18px;
  margin-bottom: 18px; }

.btn,
a {
  outline: 0 !important;
  text-decoration: none !important; }

ins {
  text-decoration: none; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

.check li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 16px;
  left: 0;
  color: #242424;
  padding-right: 5px;
  position: relative;
  top: 2px; }

.check li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px; }

.check {
  margin-left: 0;
  padding-left: 0; }

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
.mini-img {
  max-width: 180px; }

.notfound blockquote {
  margin: 20px 0 10px;
  border-left: 0;
  padding-left: 0; }

.comingsoon img {
  margin-bottom: 30px; }

.comingsoon h1,
.notfound h1 {
  font-size: 24px;
  font-weight: 900;
  color: #242424;
  padding: 0;
  margin-bottom: 0;
  line-height: 1;
  text-transform: uppercase; }

.comingsoon h1 {
  text-transform: none;
  font-size: 38px; }

.comingsoon .section {
  padding: 200px 0 0;
  background-color: transparent; }

.comingsoon p {
  padding: 0;
  font-size: 21px; }

.comingsoon .videobg {
  padding: 120px;
  background-color: rgba(18, 18, 18, 0.4); }

p.drop-caps:first-child:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding: 4px;
  margin-right: 7px;
  margin-top: 5px;
  font-family: Georgia; }

p.drop-caps.full:first-child:first-letter {
  color: #fff;
  padding: 7px;
  margin-right: 10px; }

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

#test {
  margin-top: 40px; }

#bs-example-navbar-collapse-2 ul > li.dropdown.yamm-fw > ul {
  background: url("images/menubg.jpg") no-repeat right bottom #fff !important; }

.yamm .dropdown.yamm-fw .dropdown-menu li a {
  color: #767676; }

.text-left {
  text-align: left; }

#loader {
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  background-color: #ffffff;
  position: fixed;
  display: table;
  width: 100%;
  top: 0;
  height: 100%;
  min-height: 100%;
  z-index: 99999; }

.topbar {
  color: #ffffff !important;
  background-color: #6ab42f !important; }

.social a,
.pager a,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.tag-widget a:hover,
p.drop-caps.full:first-child:first-letter,
.dropdown-menu > li:hover > a,
.btn-primary:hover,
.form-header,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.services-1 i,
.pitem .st,
.contact-details h1,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.magnifier .st:hover,
.slider_btn .btn-primary {
  border-color: #5aa320 !important;
  background-color: #5aa320 !important;
  color: #fff !important; }

.social a {
  font-size: 13px;
  color: #fff !important;
  display: inline-block;
  background-color: #ddd;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000; }

/* ----------------------------------------------------
	HEADER	
------------------------------------------------------- */
.topbar {
  background-color: #f7f7f7;
  padding: 10px 0; }

.topbar a,
.topbar p {
  color: #fff;
  padding: 0; }

.lighttopbar p,
.lighttopbar a {
  color: #ecc9ce; }

.lighttopbar .text-left a {
  text-decoration: underline !important; }

.topbar.dark-yellow p,
.topbar.dark-yellow a {
  color: #ffffff; }

.topbar.dark-yellow .social a {
  border: 0; }

.topbar.dark p,
.topbar.dark a {
  color: #8b8d92; }

.topbar.dark .social a {
  border: 0; }

.header {
  padding: 15px 0 10px;
  background-color: #ffffff; }

.navbar-default {
  margin: 0;
  background-color: transparent;
  background: none;
  border: 0; }

.navbar-default .nav > li > a, .btn-normal {
  color: #222222 !important;
  border: 0 !important;
  margin: 0 !important;
  letter-spacing: 0;
  border: 0px solid #000000;
  font-size: 14px;
  padding: 10px 15px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.bgcolor {
  border-top: 4px solid #fff; }

.navbar-nav .has-submenu .dropdown-menu li a {
  padding: 14px 20px;
  font-size: 13px !important; }

.navbar-default .dropdown-menu {
  box-shadow: none; }

.navbar-default .dropdown-menu li a {
  color: #fff;
  font-size: 14px; }

.navbar-default .fa-angle-right {
  position: absolute;
  right: 30px; }

.navbar-brand img {
  margin: 0 !important; }

.social a {
  font-size: 13px;
  color: #fff !important;
  display: inline-block;
  background-color: #ddd;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff !important; }

.navbar-table {
  display: inline-block;
  margin-top: 10px;
  width: 100%; }

/* ----------------------------------------------------
	MEGA MENU
------------------------------------------------------- */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

.yamm .dropdown.yamm-fw {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .yamm-content {
  padding: 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  padding: 30px; }

.yamm .dropdown {
  position: relative; }

.yamm .dropdown.yamm-fw.yamm-half .dropdown-menu {
  left: 0;
  right: auto; }

.yamm-fw .dropdown-menu li {
  padding: 10px 0px; }

.yamm-fw .dropdown-menu li a {
  padding: 0;
  font-size: 13px;
  background-color: transparent !important; }

.navbar-nav .has-submenu .dropdown-menu {
  border-radius: 0;
  margin-top: 23px;
  padding: 0; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  border-radius: 0;
  left: 0;
  border-top: 3px solid #ddd;
  background-color: #fff !important;
  margin-top: 20px;
  padding: 0;
  right: 0; }

.dropdown .dropdown-menu .show-left {
  margin-top: 0; }

.navbar-container {
  padding: 20px 0 20px 0; }

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

.navbar-brand.fixed-theme {
  font-size: 18px; }

.navbar-container.fixed-theme {
  padding: 0; }

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s; }

.well {
  border: 0;
  padding: 12px 0; }

.yamm p {
  margin-top: 0;
  padding-top: 0;
  border-bottom: 0;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-weight: 600;
  color: #222222;
  font-size: 14px; }

.well .form-control {
  font-size: 12px !important;
  height: 35px;
  margin-bottom: 15px; }

.yamm ul {
  padding: 0; }

.navbar-logo-center {
  padding-bottom: 0; }

.navbar-logo-center .navbar-collapse {
  padding: 10px;
  background-color: #222; }

.navbar-logo-center .navbar-header {
  display: inline-block;
  float: none !important;
  margin: 10px auto 20px;
  padding-bottom: 0;
  width: 100%; }

.navbar-logo-center .navbar-brand img {
  margin: auto !important; }

.navbar-logo-center .navbar-cell {
  display: block;
  float: none;
  vertical-align: middle;
  width: 100%; }
#logo{
    text-shadow: rgb(74, 126, 33) 0px 0px 0px, 
        rgb(79, 134, 35) 1px 1px 0px, 
        rgb(83, 141, 37) 2px 2px 0px, 
        rgb(88, 149, 39) 3px 3px 0px, 
        rgb(92, 157, 41) 4px 4px 0px, 
        rgb(97, 165, 43) 5px 5px 0px, 
        rgb(101, 172, 45) 6px 6px 0px; 
    font-size: 37px; 
    color: rgb(255, 255, 255); 
    height: 50px; 
    width: 50px; 
    line-height: 50px; 
    border-radius: 50%; 
    text-align: center; 
    background-color: rgb(106, 180, 47);   
}
.slider-section {
  
}

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 0; }

/* ----------------------------------------------------
	COLORS	
------------------------------------------------------- */
/*** YELLOW ***/
.footer a:hover,
.copyright a:hover,
.twitter-widget a {
  color: #5aa320 !important; }

.rating i,
span.clients-name,
.latest-tweets a,
.block-text a small,
.breadcrumb > .active,
.check li:before,
.latest-tweets p:before,
.shop-item small,
.shop-desc small,
.category_title,
.portfolio-filter ul li i,
.team-member h4 span,
.readmore,
.slider_layer_01 i,
.topbar.dark .social a:hover,
#quote-carousel blockquote small,
.social a:hover {
  color: #5aa320; }

.navbar-default .dropdown-menu li:focus,
.navbar-default .dropdown-menu li:hover a,
.pink {
  background-color: #5aa320; 
}
.pink-text {
    color: #e91e63!important;
}
.orange-text {
    color: #ff9800!important;
}
.purple-text {
    color: #9c27b0!important;
}
.cyan-text {
    color: #00bcd4!important;
}

.social a,
.pager a,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.tag-widget a:hover,
p.drop-caps.full:first-child:first-letter,
.dropdown-menu > li:hover > a,
.btn-primary:hover,
.form-header,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.services-1 i,
.pitem .st,
.contact-details h1,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.magnifier .st:hover,
.slider_btn .btn-primary {
  border-color: #5aa320 !important;
  background-color: #5aa320 !important;
  color: #fff !important; }


a.btn-normal.active,
.plan .head,
.topbar,
.pagination a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
mark,
.grid figcaption,
.blogging:hover,
.btn-primary,
.progress-bar,
.owl-theme .owl-controls .owl-nav [class*=owl-],
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a.active,
.navbar-default .dropdown-menu,
.dark-yellow {
  color: #ffffff !important;
  background-color: #6ab42f !important; }

.yamm .dropdown.yamm-fw .dropdown-menu,
.nav-tabs > li a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: #6ab42f; }

blockquote,
.content-widget .widget-title hr,
#sidebar .widget-title hr,
.form-control:focus:not([readonly]),
.general-title hr {
  border-color: #6ab42f; }

.panel-default > .panel-heading + .panel-collapse > .panel-body,
.bgcolor,
.border-top,
.workinghours,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top-color: #6ab42f !important; }

::selection {
  background: #6ab42f;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #6ab42f;
  /* Firefox */
  color: #fff; }

.sticky-col .big-meta,
.customoverlay {
  background-color: rgba(106, 180, 47, 0.7); }

.lighttopbar {
  background-color: #5d3a39 !important; }

.white {
  background-color: #ffffff; }

.grey {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  background-color: #f7f8fa !important; }

/* ==================================================================
	SLIDER
================================================================== */
.slider-bottom {
  background: #574638;
  padding: 20px 0; }

.tp-rightarrow.default,
.tp-leftarrow.default {
  background-color: #ffffff !important; 
}

.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px; }

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 0; }

.tp-banner {
  width: 100%;
  position: relative; }

.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0; }

.tp-bannertimer {
  display: none; }

.lightcolor {
  color: #ffffff !important; }

.tp-rightarrow.default {
  background: url("../images/right-arrow.png") no-repeat; }

.tp-leftarrow.default {
  background: url("../images/left-arrow.png") no-repeat; }

.slider_layer_01 {
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 33px;
  line-height: 1.2;
  text-transform: uppercase;  
}

.slider_layer_02 {
  color: #fff;
  font-weight: bold;
  font-size: 31px;  
  font-style: italic;
  line-height: 1.5; }

.slider_layer_02.dark-color {
  color: #222222; }

.slider_layer_03 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 66px;
  padding: 20px;
  line-height: 1.5; }

.slider_btn .btn {
  margin: 0 10px;
  font-size: 13px; }

.loader-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 12;
  text-align: center; }

.progress-bar-bottom{ padding:2.5px; background-color: #0084bf;}


/*# Custom article slider */
.pointer-brown-color{
    color: #f38763;
}
.post-inner{       
//        border: 2px solid #0d1217;
        position: relative;        
        bottom: 40px;
        color: #fff;
        text-align: center;
        padding: 10px;        
        display: block;
        width: 6em;
        margin: 0 15px;        
        //display: none; //hide it for now
        .category-name-wrap, h3{
            color:#fff;
        }
        h3{
            font-size: 15px;
        }
        .category-name-wrap {
            padding-left: 15px;
            padding-right: 15px;
            color: #fff;
            display: block;
            margin-bottom: 7px;
            line-height: 20px;
        }
        .category-name-wrap, .single-tag-wrap {            
            text-transform: capitalize;
            font-weight: 400;
            font-style: inherit;
            font-size: 13px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity .24s ease-in-out;
            -moz-transition: opacity .24s ease-in-out;
            transition: opacity .24s ease-in-out;
        }
    .bor{
    }
        
}

.flex-direction-nav .flex-next{
    right: 0;   
}
.flex-direction-nav a{
    color: #85b82a;
}

.topSectionImage:hover{
    .post-inner{
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }
    -webkit-transform: scale(1.15);
	transform: scale(1.1);
}
.topSectionImage{
    .post-inner{
//            background: #2e6dc7;
            background: #0084bf;
            transition: visibility 0s, opacity 0.5s linear;
            visibility: visible;
            opacity: 1;
            
        }
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.section h4 {
    font-weight: 400;
}
h5 {
    font-size: 1.25rem;
}

//Atricle Thumb Preview
.purple-text {
    color: #9c27b0!important;
}
.blue-text {
    color: #2196F3!important;
}
.darkblue-text {
    color: #0084bf!important;
}
.green-text {
    color: #6ab42f!important;
}
.black-text {
    color: #000!important;
}
.white-text {
    color: #fff!important;
}
.mango-text {
    color: #d66202 !important;
}
.brown-text {
    color: #b87256 !important;
}
.orange-text {
    color: #fa9823!important;
}

.detailed_article{
    background: #f7f7f7;
    .container{
            text-align: -webkit-center;
            margin: auto 0;
        }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .preview{
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 2.5vh;
        @extend .shadow;
    }
    .mask{
        margin-bottom: 2rem;
        display: block;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        cursor: default;
        @extend .shadow;
    }
    .overlay{
        img{
            transition: all .2s linear;
        }
        .mask{
            opacity: 0;
            transition: all .4s ease-in-out;
        }
    }
    .article-img{
        margin-bottom: 10px;
    }
    
    .news-data{        
        margin: auto 10px;
        >h5, p{
            display: inline-block;
        }
        .article-desc{
            padding-bottom: 5vh;
            max-height: 20vh;    
            word-break: break-word;
        }
        .goto-article{
            display: block;            
            color: #000;
            width: 15%;
            margin-bottom: 0;
            padding-bottom: 0;
            background: url(../images/rd-more.png) no-repeat 40px 2px;
        }
        .shareon-fb{
            background: url(../images/slide-fb.png) no-repeat 2px 2px #ccc;
            padding: 0px 1px 2px 0px;
            :hover{
                background: url(../images/slide-fb.png) no-repeat 2px 2px #4b4b4b;
                transition: all .2s linear;
            }
            a{
                padding: 2px 11px 4px 12px;
            }
        }
        .read-more{
            color: #000;
            padding-right: 40px;
        }
        
    }
//    Single news
    .font-w500{
        font-weight: 500;
    }
    
    .right{
        .single-news{
            .news-headlines li{
                line-height: 20px;
            }
            .col-md-9{                 
                @extend .font-w500;
            }
            date{
                color: #c3c3c3;
            }
            p{
                padding-bottom: 15px;
            }
        }
    }
    
}

//Magazine-view right column preview
.single-news {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.5rem;
    .view{
        margin-bottom: 2rem;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }
    p{
        color: #757575;
    }
    a{
        color: #424242;
        font-weight: 400;
        margin-bottom: 1rem;
        .fa-angle-right{
            float: right;
        }
    }
    .featured-media{
        a{ text-decoration: underline !important;}
        h3,a{ color:#fff; }        
        .bubbling-circle-sm{ width: 8em; height: 8em; }
        .featured-media-item-circle{ background-image: url("../images/singlenews_1.jpg"); }
    }
    .news-preview{ margin-left: -31px }
    
}
  .video-box{
        figure img{
            width:100%;
            height: 25vh;
        }
      video{
          height:100%;
          width:200%;
      }
      .no-shadow{
          box-shadow: none;
      }
    }

//Tips

.tips{
    .article-section{
        @extend .setScrollArticle;
        figure{ margin:10px 0px;}
    }
    ul{
        @extend .marg-l-2rem;
       li{ text-align: left; @extend .line-h-20p; }
    }
     ol{
        @extend .marg-l-2rem;
       li{ text-align: left; @extend .line-h-20p; }
    }
    .tips-center-1{
        li{
            list-style: none;
            @extend .line-h-20p;
            a{
                color: blue;
                text-decoration: underline !important;
            }
        }
    }
    h2{
        @extend .left-align;
    }
}
//How to start home garden
.start-home-garden{
    .article-section{
        @extend .setScrollArticle;
         ul{
            @extend .marg-l-2rem;
           li{ text-align: left; @extend .line-h-20p; }
        }
    }
     h2{ @extend .left-align;}

}
//benifits of home garden
.benifits{
    .article-section{ @extend .setScrollArticle;}
     h2{ @extend .left-align;}
}
//About Me
.heading{
    margin-top: 2rem;        
    font-size: 200%; 
    color: #757575;
}
.mrg-top-2rem{
    margin-top:2rem;
}
.mrg-top-1rem{
    margin-top:1rem;
}

.about-me{
    .about-title h3{
        @extend .heading;
        @extend .text-centre;
    }
    .about-welcome{
        text-align: -webkit-center;
        @extend .mrg-top-1rem;
        h4{
            font-weight: bold;
            text-transform: capitalize;
            color: #757575;
        }
    }
    .about-decorate-icons{
            margin: 0 90px;
        img{
            max-height: 35px;
        }
    }
    .about-content-entry{
        @extend .mrg-top-1rem;
        line-height: 20px;
        text-indent: 10px;
        ul li {
            margin:2rem 4rem 2rem;
            list-style: none; 
            a{
                padding: 5px 15px;
                font-size: .8rem;    
                background-color: #6ab42f;
                &:hover{
                    color:#fff;
                }
            }
        }
    }
}
//Our team part
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.person{
    &:hover .details{
        height: 115%;
        border-bottom: 5px solid #0084bf;
        z-index: 10;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    .details{
        position: absolute;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px 25px;
        background: #333333;
        color: #fff;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        height: 0px;
        p{
            margin-top:10%;
        }
        h5{
            color:#fff;
        }
    }
    .social {
        margin: 0 auto;
        margin-top: 20%;
        padding-bottom: 20px;
        text-align: center;
        overflow: hidden;
        -webkit-padding-start: 0px;
        li{
            display: inline-block;
            a.icons-sm {
                background: transparent !important;
                border: 2px solid #fff !important;
                border-radius: 100px;
                width: 46px;
                height: 46px;
                color: #fff;
                display: block;
                font-size: 18px;
                line-height: 30px;
                margin: 0 8px;
                color: #fb0000;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                -webkit-font-smoothing: subpixel-antialiased;
                outline: 0 !important;
                &:hover{
                    background: none repeat scroll 0 0 #0084bf !important;
                    color: #fff !important;
                }
            }
            
        }
    }
    .person-info{
        margin-top: 10px;
        padding: 10px 0px 10px 0px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #333333;
        position: relative;
        display: inline-block;
        border-bottom: 2px solid #333333;
        width: 100%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        .name{
            color: #fff;
            font-weight: 600;
            font-size: 19px;
            text-align: center;            
        }
        .moreinfo{
            font-weight: normal;
            text-align: center;
            line-height: 24px;
            position: relative;
            margin-bottom: 12px;
            color: #bebebe;
        }
    }
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUp, .fadeInLeft, .fadeInRight {
    visibility: visible;
}

.our-team{
    
    .section-heading{
        @extend .heading;
    }
    .section-description{
        color: #757575;
        margin-bottom: 1rem;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        font-size: 150%;
        line-height: 30px;
    }
    .section-hint{
        margin-bottom: 2rem;
        font-size: 1.05rem;
        @extend .text-centre;
        padding:0;
        font-size: large;
    }
    .avatar{
        display: -webkit-flex;        
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;        
        margin-bottom: 2rem;
        height: auto;
            img{ 
                max-width: 200px;
                @extend .shadow;
            }
     }
    .our-team-detail{
        h4{
          font-size: 1.5rem;  
        }
        h5{
            font-size: larger;
        }
        p{
            font-size: 1rem;
        }
    }
    
    
}


//detailed articles

//grape
//<span class="vitamin">

.grape{
    
    .txt-left{
        text-align: -webkit-left;
    }
    .detailed_article{
        .preview{
            box-shadow: none;
            h1{
                padding-top:10px;
            }
            h1, p{ 
                text-align: center;
            }
        }
        .article-body{
            margin: auto;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            h1, h2, h3{
                font-family: inherit;
                font-weight: 500;
            }
        }
        .article-img{
            img{
                width: 99%;
            }
        }
        .article-section{
            max-height: 880px;
            overflow-y: auto;
            h2.header{
                @extend .txt-left;
                background: none;
            }
            h3, p{
                @extend .txt-left;
            }
            ul{
                @extend .txt-left;
                margin-left: 10px;
                li{
                    padding:5px;
                }
            }
        }
    }
}

//Contact us
.contact-us{
    .contact-bg{
        background: url('../images/contactus_bg.jpg') repeat;
        h2, legend, .contact{
            color:#fff;
        }
        #contact-us{
            background-color: rgba(0,0,0,.7);
            height: 50vh;
        }
        .info{
            padding: 15px 15px 15px 0;
            font-size: 18px;
            line-height: 25px;
        }
        form, .desc{
            padding-top:20px;
        }
        .form-group a{
            margin-right: 10px;
        }
        
    }
    footer{
        position:fixed;
    }
}

[type=checkbox]+label {
    position: relative;
    height: 25px;
    padding-left: 30px;
    margin-top: 25px;
}
[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #5aa320;
    border-bottom: 2px solid #5aa320;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
//Footer page
.btn-fb{
    background-color: #3B5998;
}
.btn-comm {
    background-color: #30CFC0;
}
.btn-email {
    background-color: #4B515D;
}
.btn-unique {
    background: #1C2331;
}
.btn-pin {
    background-color: #C61118;
}
.btn-dribbble {
    background-color: #C32361;
}
.btn-li {
    background-color: #0082CA;
}
.btn-gplus {
    background-color: #DD4B39;
}
.btn-tw {
    background-color: #55ACEE;
}
footer{
    //position: fixed;
    bottom: 0;
    width: 100%;    
    background-color: #293a48;
    color:#fff;
    .social-section{
        text-align: center;
        ul{
            margin-top: 15px;
            li{
                display: inline-block;
                margin:10px auto;
            }
            a{
                opacity: 1;                
                &:hover{
                    background-color: #6ab42f;                    
                }
            }
            
            
        }
        .btn{
            font-size: .8rem;
            padding: .85rem 2.13rem;
            border-radius: 2px;
            border: 0;
            color: #fff!important;
            margin: 6px;
            white-space: normal!important;
            word-wrap: break-word;
            transition: .2s ease-out;
        }
    }
    .copyright{
        text-align: center;
        background: #333333;
    }
}

// float label
.float-label {
  .control {
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-top: 10px + 13px;
    padding-bottom: 10px;
    
    // you proably want to replace these with your grid classes
    &.small {
      width: 30%;
      border-right: 1px solid #ddd;
    }
    
    &.medium {
      width: 70%;
      padding-left: 10px;
    }
    
    &:last-child {
    
    }
  }
  
  input, textarea {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    margin-top: 5px;
    
    // inactive but shown label (exceptions: opacity and top)
    & + label {
        position: absolute;
        top: 15px;
        padding-bottom: 0px;
        transition: top 0.7s ease, opacity 0.7s ease;
        opacity: 0;      
        font-size: 13px;
        font-weight: inherit;
        color: #fff;
    }
    
    // THE MAGIC
    // as soon as we start typing, the "required" attribute will
    // set the state to valid and our pseudo selector will match
    &:valid + label {
      opacity: 1;
      top: 0px;
    }
    
    // and we highlight the focused input label
    &:focus + label {
      color: #2c8efe;
    }
  }
}

.icons-sm {
    padding: .5rem;
    margin: .5rem;
    font-size: 1.5rem;
}
.git-ic {
    color: #4183C4!important;
}
.ins-ic {
    color: #3F729B!important;
}
.gplus-ic {
    color: #DD4B39!important;
}
.fb-ic {
    color: #3B5998!important;
}
.tw-ic {
    color: #55ACEE!important;
}
.drib-ic {
    color: #C32361!important;
}
.li-ic {
    color: #0082CA!important;
}


//Accodrion
.tabs{
  width:auto;
  margin:0 auto;
  box-shadow:#000 0px 1px 4px;
//  margin-top:5%;
  padding:0;
  display:none;
  overflow:hidden;
  font-family: inherit;
  li{
    list-style:none;
    position:relative;
  }

  .menu:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2000;
    opacity:0.1;
  }

  a{
    color:#FFF;
//    font:10px Lato;
    font-weight:900;
    position:relative;
    z-index:5000;
    text-transform:uppercase;
//    text-shadow:#0d73bb  0px 1px 4px;
    text-decoration:none;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #709D49 0%, #6ab42f 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #709D49 0%, #6ab42f 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #709D49 0%, #6ab42f 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #709D49), color-stop(1, #6ab42f));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #709D49 0%, #6ab42f 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #709D49 0%, #6ab42f 100%);
        display:block;
        padding:10px 15px 15px 10px;
//        border-bottom:1px solid #000;
        position:relative;
        letter-spacing:5px;
      }

  a:hover{
    background-image: -ms-linear-gradient(top, #109fff  0%, #687b70 100%);
    background-image: -moz-linear-gradient(top, #109fff 0%, #687b70 100%);
    background-image: -o-linear-gradient(top, #109fff 0%, #687b70 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #109fff ), color-stop(1, #687b70 ));
    background-image: -webkit-linear-gradient(top, #D1384A 0%, #872430 100%);
    background-image: linear-gradient(to bottom, #109fff  0%, #687b70  100%);
  }

  a:before{
    content:"\f13a";
    position:absolute;
    top:19px;
    right:30px;
    font-family:fontawesome;
    font-size:17px;
  }
  i{
    margin-right:10px;
    font-size:20px;
    position:relative;
    top:3px;
  }


    a.goto {
        color: #2298e3;
        background-image: none;
    }

  h1{
//    color:#FFF;
//    font:10px Lato;
//    font-weight:900;
//    margin:0;
    letter-spacing:5px;
    text-transform:uppercase;
    text-shadow:#000 0px 1px 4px;
    padding:20px 0px 10px 0px;
  }

  p{
    font-weight:700;
//    color:#FFF;
//    font:10px Lato;
//    letter-spacing:1px;
//    line-height:20px;
//
//    margin-top:0;
//    text-transform:uppercase;
//    text-shadow:#000 0px 1px 4px;
  }

  a:nth-of-type(1){
    border-top:none;
  }
  a:nth-of-type(6){
    border-bottom:none;
  }
  ul{
    background:#fff;
    border:0px solid #000;
    padding:0px 0px 0px 20px;
    display:none;
    position:relative;
    border-top:none;
  }
}

/* ----------------------------------------------------
	RESPONSIVE	
------------------------------------------------------- */

@media (max-width: 768px) { //phones
  .bootstrap-select .dropdown-menu,
  .appoform .btn-white,
  .ui-widget-content {
    width: 100%; }

  .appoform .btn-white {
    margin-top: 10px; }

  #carousel-reviews .carousel-control {
    display: none; }

  .service-style-2 .why-us img {
    float: none; }

  .owl-prev {
    left: 0; }

  .owl-next {
    right: 0; }

  .grid img {
    width: 100%; }

  .services-1 {
    margin-top: 30px; }

  .grid,
  .shop-item,
  .team-member,
  .why-us {
    margin-bottom: 30px; }

  .topbar .text-left,
  .topbar .text-right {
    text-align: center !important;
    float: none;
    font-size: 12px; }

  .text-right {
    padding: 0; } 
    
 .landscape{
        .post-inner {       
            bottom: 14vh;
            width: auto;
            left:25px;
        }
        .flex-direction-nav{
            display: none;
        }
    }
    
    .portrait{  
        .post-inner{
            width: auto;
            bottom: 8vh;
            left:25px;
        }
        .flex-direction-nav{
            display: none;
        }        
        
    }
    
}

@media (min-width: 992px) {
    
        .left{
            margin-top: 5px;
        }
    
    //ipad landscape
    .tabletwide{
        .post-inner{
            width: auto;
            bottom: 45px;
        }
        .flex-direction-nav{
            display: none;
        }
    }
    
  .yamm-fw {
    position: relative; }

  .yamm-fw:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 100%; }

  .navbar-nav .yamm-fw ul {
    -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out; }

  .yamm-fw .dropdown-menu {
    min-width: 240px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

  .yamm-fw > ul {
    position: absolute;
    top: 130%;
    visibility: hidden;
    display: block;
    opacity: 0;
    left: 0; }

  .yamm-fw > ul.start-right {
    right: 0;
    left: auto; }

  .yamm-fw > ul li {
    position: relative; }

  .yamm-fw > ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    left: 100%; }

  .yamm-fw > ul li:hover > ul.show-right {
    right: 100%; } 
    
    .mb-r {
        margin-bottom: 3rem;
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:landscape){

    .our-team-detail{
            .person{
                margin-bottom: 10%;
                .social{
                    margin-top: 10%;
                }
                .details{

                }
            }
        }
    .detailed_article{
        .left{
            margin-top: 5px;
        }
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait){
 
    .portrait{
        .post-inner{ 
            bottom: 45px;
            left: 0px;
        }
        .our-team-detail{
            .person{
                margin-bottom: 10%;
            }
        }
        .person{
            .social{
                margin-top: auto;
            }
            .details{
//                width: 94%;
//                margin-left: 3%;
            }
        }

    }
}

//iphone 6
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

 .tips{
        ul{
            margin-left: 1rem;
        }
    }
}
//iphone 6 plus
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    .navbar-nav{
        .has-submenu{
            .dropdown-menu {

            }
        }
    }
    .detailed_article{
        .article-section ul li{ line-height: 25px;}
        .preview{ margin-bottom: 5%; }
        .news-data{
            .article-desc{ max-height: inherit; padding-bottom: 15% !important;}
            
        }
    }
    .tips{
        ul{
            margin-left: 0;
        }
    }

}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
    .news-data{
            margin-bottom: 15px;
            .article-desc{                 
                padding-bottom: 15%;
            }
        }
}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
    .our-team-detail{
            .person{
                margin-bottom: 10%;
                .social{
                    margin-top: 5.5%;
                }
            }
        }
    .news-data{
            .article-desc{ max-height: inherit; }
        }
}

@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation:landscape){
    .tips{
        ul{
            margin-left: 0;
        }
    }
}
/*# sourceMappingURL=custom.css.map */
